.box-css.col-md-8
  %h1 About
  %p
  We set up sourdoughmapper to help more people bake tasty, nutritious and cheap bread.
  %p
  The industrialised bread you can buy in supermarkets is often pretty crappy, while the 'artisanal' loaves you can buy in specialist bakeries and markets are often very expensive.
  %p
  We hope sourdoughmapper helps you:
  %ul
    %li Share, or get hold of, a sourdough starter
    %li Gain confidence in making your own bread
    %li Eat better, and more cost-effectively
    %li Make new links in your local community
  %p
  Please get in touch with any queries, but most importantly, please just sign up and give it a go - you might never look back.
