
$grey_dark          : #303233;
$grey_light         : #ABC4CA;


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.welcome-background-image {
  background-image: url('homeimage.jpg');
  width: 100%
}

.container {
  margin: 10px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

img {
  height: 150px;
  width: 150px;
}


.text-only {
  padding: 15px;
}


.welcome-search-box {

  background-color: #F1B26B;
  padding: 10px;
  margin: 30px;
  border-radius: 5px;
  h1 {
    margin: 0 0 5px 0;
  }

}

.inner-row {
  margin-right: 0;
  margin-left: 0;
}


/* Messages */

.contacts-list {
  margin:0;
  padding:0;
  list-style-type:none;
}

.contacts-list li {
  padding:0;
  margin:0 0 5px 0;
}

.contacts-list a {
  display:block;
  background: $grey_light;
  color:#000;
  padding:0.5rem 1rem;
}

.message-unit {
  padding:10px;
  background: white;
  margin:0 0 20px 0;
}

.message-body {
  font-size:18px;
}

.message-from {
  font-style: italic;
}

#inline-message-compose {
  background:$grey_dark;
  width: 420px;
  height: 0;
  position:fixed;
  bottom:-5px;
  right:0;
}

#inline-message-compose .inner {
  padding:10px 15px;
  position:relative;
  border-top:1px solid rgb(205,205,205);
  border-left:1px solid rgb(205,205,205);
}

#inline-compose-close {
  position:absolute;
  top:15px;
  right:15px;
}

#inline-compose-close:hover {
  cursor:pointer;
}

//gerry and David map implementation
#map-canvas-global{
  width: 800px;
  height: 400px;
}

#map-canvas {
  height: 200px;
  width: 200px;
}

#map-results-canvas {
  height: 100%;
  width: 100%;
}