#map-canvas {
  height: 200px;
  width: 200px;
}

#map-results-canvas {
  height: 100%;
  width: 100%;
}

img {
  height: 200px;
  width: 200px;
}

// .container > div {

//   background-color: grey;
//   margin: 10px;
// }

.text-only {
  padding: 15px;
}


.welcome-search-box {

  background-color: red;
  padding: 10px;
  margin: 10px;
  h1 {
    margin: 0 0 5px 0;
  }

}



.inner-row {
  margin-right: 0;
  margin-left: 0;
}
/**, h1 {
  font-family: Times, serif
}*/