
$grey_dark          : #303233;
$grey_light         : #ABC4CA;


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* site wide */



.btn.btn-primary {
  background-color: orange;
  border: orange;
}

.contacts-list {
  a {
    background-color: non
  }
}

a.inbox-conversation-link {
  background-color: orange;
}

.container {
  margin: 10px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Metrophobic', sans-serif;
}

body {
  background: url('/assets/homeimage2.jpg');
  background-size: cover;
  } 
 #customisation,h1,h2, h3 {
  font-family: 'Metrophobic', sans-serif;
 } 

/* navbar */

.navbar-brand {
  a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  }
  a:hover {
    color: orange;
  }
  a:link {
    text-decoration: none;
  }
}

.form-control {
  width: 270px;
}

.radio {
  color: white;

}

nav.navbar.navbar-default {
  background-color: rgba(92,33,27, 0.8);
  border: 0px;
}

.nav.navbar-left {
  li {
    float: left;
  }
  a:hover {
    color: orange;
    background-color: none;
  }
  a:link {
    text-decoration: none;
  }
}

.nav.navbar-right {
  li {
    float: left;
  } 

  li > a {
    color: white;
    padding: none;
    background-color: none;
  }
 
  li > a:hover {
    color: orange;
    background-color: none;
  }
 
  li > a:link {
    text-decoration: none;
    background-color: none;
  }
}

.navbar-right > li > a:hover, .navbar-right > li > a:focus {
  background-color: rgba(92,33,27, 0.1);
}

.navbar-left > li > a:hover, .navbar-right > li > a:focus {
  background-color: rgba(92,33,27, 0.1);
}

.nav.navbar-left {
  li {
    float: left;
  } 

  li > a {
    color: white;
    padding: none;
    background-color: none;
  }
}

/* Footer*/

.navbar-fixed-bottom {
  margin-top: 20px;
  position: relative;
  clear: both;
  border-radius: 5px;
}


/* Member profile page */



.box-css {
  background-color: rgba(232,210,189, 0.9);
  padding: 10px;
  border-radius: 5px;
  .col-md-4 {
    a {
      color: orange;
    }
  }
}

.box-css.col-md-3.messaging {
  margin-left: 20px;

}
img {
  // height: 150px;
  // width: 150px;
  border-radius: 5px;
}


.text-only {
  padding: 15px;
  color: white;
    a:hover {
      color: orange;
      background-color: none;
  }
}

.inner-row {
  margin-right: 0;
  margin-left: 0;
}


/* Welcome page */

.col-md-5.welcome-h1-text {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 20px;
}

.welcome-background-image {
  background-image: url('homeimage.jpg');
  width: 100%
}

.welcome-search-box {

  color: white;
  background-color: rgba(92,33,27, 0.8);
  padding: 10px;
  margin: 30px 150px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(92,33,27, 0.8);
  text-shadow: 2px 2px 2px black;
  float: right;
  h1 {
    margin: 0 0 5px 0;
  }

}

/* search results*/

.row.search-result {
  padding: 10px;
}

/* Messages */

.contacts-list {
  margin:0;
  padding:0;
  list-style-type:none;
}

.contacts-list li {
  padding:0;
  margin:0 0 5px 0;
}

.contacts-list a {
  display:block;
  background: $grey_light;
  color:#000;
  padding:0.5rem 1rem;
}

.message-unit {
  padding:10px;
  background: white;
  margin:0 0 20px 0;
}

.message-body {
  font-size:18px;
}

.message-from {
  font-style: italic;
}

#inline-message-compose {
  background:$grey_dark;
  width: 420px;
  height: 0;
  position:fixed;
  bottom:-5px;
  right:0;
}

#inline-message-compose .inner {
  padding:10px 15px;
  position:relative;
  border-top:1px solid rgb(205,205,205);
  border-left:1px solid rgb(205,205,205);
}

#inline-compose-close {
  position:absolute;
  top:15px;
  right:15px;
}

#inline-compose-close:hover {
  cursor:pointer;
}

//gerry and David map implementation
#map-canvas-global{
  width: 800px;
  height: 400px;
  border-radius: 5px;
}

#map-canvas {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

#map-results-canvas {
  height: 100%;
  width: 100%;
  border-radius: 5px;

}